name: 'mao-image-openEuler'
# This is a docker build check and publish job:
# 1. PR Triggered docker image build check
#   - is for image build check
#   - Enable on main/*-dev branch
#   - push: ${{ github.event_name != 'pull_request' }} ==> false
# 2. branches push trigger image publish
#   - is for branch/dev/nightly image
#   - commits are merge into main/*-dev  ==> vllm-ascend:main-openeuler / vllm-ascend:*-dev-openeuler
#   - is for final release image
#   - Publish when tag with v* (pep440 version)  ===>  vllm-ascend:v1.2.3-openeuler / vllm-ascend:v1.2.3rc1-openeuler
on:
  workflow_dispatch:
    inputs:
      docker_images:
        description: '请填写docker镜像名称'
        required: true
        default: 'main-openeuler'
      vllm_version:
        description: 'vllm tags name'
        required: true
        default: '2918c1b49c88c29783c86f78d2c4221cb9622379'
  pull_request:
    branches:
      - 'main'
      - '*-dev'
    paths:
      - '.github/workflows/image_openeuler.yml'
      - 'Dockerfile.openEuler'
      - 'vllm_ascend/**'
      - 'setup.py'
      - 'pyproject.toml'
      - 'requirements.txt'
      - 'cmake/**'
      - 'CMakeLists.txt'
      - 'csrc/**'
    types: [ labeled ]
  push:
    # Publish image when tagging, the Dockerfile in tag will be build as tag image
    branches:
      - 'main'
      - '*-dev'
    tags:
      - 'v*'
    paths:
      - '.github/workflows/image_openeuler.yml'
      - 'Dockerfile.openEuler'
      - 'vllm_ascend/**'
      - 'setup.py'
      - 'pyproject.toml'
      - 'requirements.txt'
      - 'cmake/**'
      - 'CMakeLists.txt'
      - 'csrc/**'

# only cancel in-progress runs of the same workflow
#concurrency:
#  group: ci-${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: false
  
env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  
jobs:
  build:
    name: vllm-ascend image build
    # Only arm64 build on openEuler arm64, only amd64 build on Ubuntu amd64
    # Push event or PR with both 'ready' and 'ready-for-test' labels
    runs-on: >-
      ${{
          'ubuntu-latest' ||
          'ubuntu-24.04-arm'
      }}
    
    
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Print
      run: |
        lscpu

    # Install the cosign tool except on PR
    # https://github.com/sigstore/cosign-installer
    - name: Install cosign
      if: github.event_name != 'pull_request'
      uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20 #v3.5.0
      with:
        cosign-release: 'v2.2.4'

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        # TODO(yikun): add more hub image and a note on release policy for container image
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        # Note for test case
        # https://github.com/marketplace/actions/docker-metadata-action#typeref
        # 1. branch job pulish per main/*-dev branch commits
        # 2. main and dev pull_request is build only, so the tag pr-N-openeuler is fine
        # 3. only pep440 matched tag will be published:
        #    - v0.7.1 --> v0.7.1-openeuler
        #    - pre/post/dev: v0.7.1rc1-openeuler/v0.7.1rc1-openeuler/v0.7.1rc1.dev1-openeuler/v0.7.1.post1-openeuler, no latest
        #      which follow the rule from vLLM with prefix v
        # TODO(yikun): the post release might be considered as latest release
        tags: ${{ github.event.inputs.docker_images }}
        flavor:
          latest=true

    - name: Free up disk space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
      with:
        tool-cache: true
        docker-images: false

    - name: Build - Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Build - Set up Docker Buildx
      uses: docker/setup-buildx-action@v3


    # Login against a Docker registry except on PR
    # https://github.com/docker/login-action
    - name: Log into registry ${{ env.REGISTRY }} ${{ github.actor }}
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3 # v3.0.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}

          
    - name: Build and push 910b with vllm ${{ github.event.inputs.vllm_version }} as ${{ github.event.inputs.docker_images }}
      id: build-and-push
      uses: docker/build-push-action@v6
      with:
        platforms: >-
          ${{
              'linux/amd64,linux/arm64' ||
              'linux/arm64'
          }}
        # use the current repo path as the build context, ensure .git is contained
        context: .
        # only trigger when tag, branch/main push
        push: ${{ github.event_name != 'pull_request' }}
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        file: Dockerfile.openEuler
        build-args: |
          PIP_INDEX_URL=https://pypi.org/simple
          VLLM_TAG=${{ github.event.inputs.vllm_version }}
        provenance: false

    # Sign the resulting Docker image digest except on PRs.
    # This will only write to the public Rekor transparency log when the Docker
    # repository is public to avoid leaking data.  If you would like to publish
    # transparency data even for private images, pass --force to cosign below.
    # https://github.com/sigstore/cosign
    - name: Sign the published Docker image
      if: false
      env:
        # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
        TAGS: ${{ steps.meta.outputs.tags }}
        DIGEST: ${{ steps.build-and-push.outputs.digest }}
      # This step uses the identity token to provision an ephemeral certificate
      # against the sigstore community Fulcio instance.
      run: echo "${TAGS}" | xargs -I {} cosign sign --yes {}@${DIGEST}
